/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.wrapper {
  max-width: 1280px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid #d89415;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: system-ui, sans-serif;
}

.wrapper-en {
  position: relative; /* for ::before */
}

.wrapper-en::before {
  content: "";
  position: absolute;
  inset: 10px;
  background-image: url('/ukflag.png');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}

.wrapper-lt {
  background: linear-gradient(to bottom, rgba(253, 185, 19, 0.15) 33.333%, rgba(0, 106, 68, 0.15) 33.333%, rgba(0, 106, 68, 0.15) 66.666%, rgba(193, 39, 45, 0.15) 66.666%);
}

.wrapper-nl {
  background: linear-gradient(to bottom, rgba(174, 28, 40, 0.15) 33.333%, rgba(255, 255, 255, 0.15) 33.333%, rgba(255, 255, 255, 0.15) 66.666%, rgba(33, 70, 139, 0.15) 66.666%);
}

.wrapper-ua {
  background: linear-gradient(to bottom, rgba(0, 87, 183, 0.15) 40%, rgba(255, 213, 0, 0.15) 60%);
}

.wrapper legend {
  padding: 0 1rem;
  font-size: 0.618rem;
  font-weight: 500;
  color: #fff;
}
.wrapper-en::after {
    content: "";
    position: absolute;
    inset: 0;

    z-index: -2;

}